{
	http_port {$CRONIQ_CADDY_HTTP_PORT}
	https_port {$CRONIQ_CADDY_HTTPS_PORT}
	local_certs

	servers {
		protocols h1 h2
	}
}

(api_upstream) {
	reverse_proxy http://{$CRONIQ_CADDY_UPSTREAM_HOST}:{$CRONIQ_API_HTTP_PORT} {
	}
}


(dmz_http_upstream) {
	reverse_proxy http://{$CRONIQ_CADDY_UPSTREAM_HOST}:{$CRONIQ_DMZ_HTTP_PORT} {
		header_up Host localhost
	}
}

(dmz_admin_http_upstream) {
	reverse_proxy http://{$CRONIQ_CADDY_UPSTREAM_HOST}:{$CRONIQ_DMZ_ADMIN_HTTP_PORT} {
		header_up Host localhost
	}
}

(dmz_grpc_upstream) {
	reverse_proxy https://{$CRONIQ_CADDY_UPSTREAM_HOST}:{$CRONIQ_DMZ_GRPC_PORT} {
		transport http {
			versions h2
			tls_server_name localhost
			tls_insecure_skip_verify
		}
		header_up Host localhost
	}
}

(ui_upstream) {
	reverse_proxy http://{$CRONIQ_CADDY_UPSTREAM_HOST}:{$CRONIQ_UI_HTTP_PORT} {
		header_up Host localhost
	}
}

api.{$CRONIQ_CADDY_DOMAIN} {
	import api_upstream
}

dmz.{$CRONIQ_CADDY_DOMAIN} {
	@grpc_ingress {
		method POST
		path /croniq.rpc.WebhookIngress/*
	}
	handle @grpc_ingress {
		import dmz_grpc_upstream
	}
	import dmz_admin_http_upstream
}

hooks.{$CRONIQ_CADDY_DOMAIN} {
	@grpc_ingress {
		method POST
		path /croniq.rpc.WebhookIngress/*
		protocol grpc
	}
	handle @grpc_ingress {
		import dmz_grpc_upstream
	}
	@ingress_stream {
		path /tenants/*/webhooks/ingress/*
	}
	handle @ingress_stream {
		import dmz_admin_http_upstream
	}
	import dmz_http_upstream
}

ui.{$CRONIQ_CADDY_DOMAIN} {
	import ui_upstream
}
