{
  "openapi": "3.1.0",
  "info": {
    "title": "Croniq Admin Mock API",
    "version": "0.1.0",
    "description": "Generated from Zod schemas to keep UI models and OpenAPI docs in lockstep during development."
  },
  "servers": [
    {
      "url": "https://api.croniq.dev"
    }
  ],
  "security": [
    {
      "X-Croniq-Key": []
    }
  ],
  "components": {
    "securitySchemes": {
      "X-Croniq-Key": {
        "type": "apiKey",
        "description": "Croniq API key passed via X-Croniq-Key header.",
        "name": "X-Croniq-Key",
        "in": "header"
      }
    },
    "schemas": {
      "TriggerJobRequest": {
        "type": "object",
        "properties": {
          "jobKey": {
            "type": "string",
            "minLength": 1
          },
          "metadata": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {
              "type": "string"
            }
          }
        },
        "required": [
          "jobKey"
        ]
      },
      "ScheduleSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "minLength": 1
          },
          "tenant": {
            "type": "string",
            "minLength": 1
          },
          "cron": {
            "type": "string",
            "minLength": 1
          },
          "timezone": {
            "type": "string",
            "minLength": 1
          },
          "owner": {
            "type": "string",
            "minLength": 1
          },
          "state": {
            "type": "string",
            "enum": [
              "active",
              "paused",
              "degraded"
            ]
          },
          "nextFire": {
            "type": "string",
            "format": "date-time"
          },
          "lastDurationMs": {
            "type": "number",
            "minimum": 0
          },
          "alerts": {
            "type": "integer",
            "minimum": 0
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "default": []
          }
        },
        "required": [
          "id",
          "name",
          "tenant",
          "cron",
          "timezone",
          "owner",
          "state",
          "nextFire",
          "lastDurationMs",
          "alerts"
        ]
      },
      "ScheduleListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "name": {
                  "type": "string",
                  "minLength": 1
                },
                "tenant": {
                  "type": "string",
                  "minLength": 1
                },
                "cron": {
                  "type": "string",
                  "minLength": 1
                },
                "timezone": {
                  "type": "string",
                  "minLength": 1
                },
                "owner": {
                  "type": "string",
                  "minLength": 1
                },
                "state": {
                  "type": "string",
                  "enum": [
                    "active",
                    "paused",
                    "degraded"
                  ]
                },
                "nextFire": {
                  "type": "string",
                  "format": "date-time"
                },
                "lastDurationMs": {
                  "type": "number",
                  "minimum": 0
                },
                "alerts": {
                  "type": "integer",
                  "minimum": 0
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "default": []
                }
              },
              "required": [
                "id",
                "name",
                "tenant",
                "cron",
                "timezone",
                "owner",
                "state",
                "nextFire",
                "lastDurationMs",
                "alerts"
              ]
            }
          },
          "total": {
            "type": "integer",
            "minimum": 0
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "items",
          "total",
          "updatedAt"
        ]
      },
      "UpsertScheduleRequest": {
        "type": "object",
        "properties": {
          "jobKey": {
            "type": "string",
            "minLength": 1
          },
          "cronExpression": {
            "type": "string",
            "minLength": 1
          },
          "triggerId": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1
          },
          "startAtUtc": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "endAtUtc": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "enabled": {
            "type": "boolean"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "metadata": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {
              "type": "string"
            }
          }
        },
        "required": [
          "jobKey",
          "cronExpression"
        ]
      },
      "IssueApiKeyRequest": {
        "type": "object",
        "properties": {
          "clientId": {
            "type": "string",
            "minLength": 1
          },
          "environmentTag": {
            "type": [
              "string",
              "null"
            ]
          },
          "scopes": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            }
          },
          "ttlHours": {
            "type": [
              "integer",
              "null"
            ]
          }
        },
        "required": [
          "clientId"
        ]
      },
      "UpsertWebhookEndpointRequest": {
        "type": "object",
        "properties": {
          "hookKey": {
            "type": "string",
            "minLength": 1
          },
          "jobKey": {
            "type": "string",
            "minLength": 1
          },
          "enabled": {
            "type": "boolean"
          },
          "requireSignature": {
            "type": "boolean"
          },
          "requestsPerMinute": {
            "type": [
              "integer",
              "null"
            ]
          },
          "secret": {
            "type": [
              "string",
              "null"
            ]
          },
          "metadata": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {
              "type": "string"
            }
          },
          "signatureVersion": {
            "type": "integer"
          }
        },
        "required": [
          "hookKey",
          "jobKey"
        ]
      },
      "RotateWebhookSecretRequest": {
        "type": "object",
        "properties": {
          "activateInSeconds": {
            "type": [
              "integer",
              "null"
            ]
          },
          "gracePeriodSeconds": {
            "type": [
              "integer",
              "null"
            ]
          },
          "notes": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "CreateWebhookIpRuleRequest": {
        "type": "object",
        "properties": {
          "cidr": {
            "type": "string",
            "minLength": 1
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "cidr"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/executions/{executionId}/logs": {
      "get": {
        "summary": "Fetch execution logs",
        "tags": [
          "Executions"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "executionId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Execution logs returned"
          }
        }
      }
    },
    "/health": {
      "get": {
        "summary": "Health probe",
        "tags": [
          "Health"
        ],
        "responses": {
          "200": {
            "description": "Service is healthy"
          }
        }
      }
    },
    "/health/persistence": {
      "get": {
        "summary": "Persistence health probe",
        "tags": [
          "Health"
        ],
        "responses": {
          "200": {
            "description": "Persistence layer is healthy"
          }
        }
      }
    },
    "/jobs/trigger": {
      "post": {
        "summary": "Trigger a job execution",
        "tags": [
          "Jobs"
        ],
        "requestBody": {
          "description": "Job trigger payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jobKey": {
                    "type": "string",
                    "minLength": 1
                  },
                  "metadata": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "additionalProperties": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "jobKey"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Trigger accepted"
          }
        }
      }
    },
    "/schedules": {
      "get": {
        "summary": "List schedules",
        "description": "Returns schedules scoped to the active tenant",
        "tags": [
          "Schedules"
        ],
        "responses": {
          "200": {
            "description": "Schedules collection",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "name": {
                            "type": "string",
                            "minLength": 1
                          },
                          "tenant": {
                            "type": "string",
                            "minLength": 1
                          },
                          "cron": {
                            "type": "string",
                            "minLength": 1
                          },
                          "timezone": {
                            "type": "string",
                            "minLength": 1
                          },
                          "owner": {
                            "type": "string",
                            "minLength": 1
                          },
                          "state": {
                            "type": "string",
                            "enum": [
                              "active",
                              "paused",
                              "degraded"
                            ]
                          },
                          "nextFire": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "lastDurationMs": {
                            "type": "number",
                            "minimum": 0
                          },
                          "alerts": {
                            "type": "integer",
                            "minimum": 0
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "default": []
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "tenant",
                          "cron",
                          "timezone",
                          "owner",
                          "state",
                          "nextFire",
                          "lastDurationMs",
                          "alerts"
                        ]
                      }
                    },
                    "total": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "items",
                    "total",
                    "updatedAt"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create or update a schedule",
        "tags": [
          "Schedules"
        ],
        "requestBody": {
          "description": "Schedule definition payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jobKey": {
                    "type": "string",
                    "minLength": 1
                  },
                  "cronExpression": {
                    "type": "string",
                    "minLength": 1
                  },
                  "triggerId": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "minLength": 1
                  },
                  "startAtUtc": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time"
                  },
                  "endAtUtc": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time"
                  },
                  "enabled": {
                    "type": "boolean"
                  },
                  "description": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "metadata": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "additionalProperties": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "jobKey",
                  "cronExpression"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Schedule accepted"
          }
        }
      }
    },
    "/tenants/{tenantId}/api-clients/{clientId}": {
      "get": {
        "summary": "Lookup an API client",
        "tags": [
          "Tenant API Clients"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "tenantId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "clientId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": false,
            "name": "environment",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "API client returned"
          }
        }
      }
    },
    "/tenants/{tenantId}/api-keys": {
      "post": {
        "summary": "Issue a new API key",
        "tags": [
          "Tenant API Keys"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "tenantId",
            "in": "path"
          }
        ],
        "requestBody": {
          "description": "API key issuance payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "clientId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "environmentTag": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "scopes": {
                    "type": [
                      "array",
                      "null"
                    ],
                    "items": {
                      "type": "string"
                    }
                  },
                  "ttlHours": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  }
                },
                "required": [
                  "clientId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "API key issued"
          }
        }
      }
    },
    "/tenants/{tenantId}/api-keys/{keyId}/rotate": {
      "post": {
        "summary": "Rotate an API key",
        "tags": [
          "Tenant API Keys"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "tenantId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "keyId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": false,
            "name": "environment",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "API key rotated"
          }
        }
      }
    },
    "/tenants/{tenantId}/api-keys/{keyId}": {
      "delete": {
        "summary": "Delete an API key",
        "tags": [
          "Tenant API Keys"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "tenantId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "keyId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": false,
            "name": "environment",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "API key deleted"
          }
        }
      }
    },
    "/tenants/{tenantId}/webhooks": {
      "get": {
        "summary": "List webhook endpoints for a tenant",
        "tags": [
          "Tenant Webhooks"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "tenantId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "environment",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook endpoints returned"
          }
        }
      },
      "post": {
        "summary": "Create or update a webhook endpoint",
        "tags": [
          "Tenant Webhooks"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "tenantId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "environment",
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "required": true,
            "name": "allowUnsigned",
            "in": "query"
          }
        ],
        "requestBody": {
          "description": "Webhook endpoint payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "hookKey": {
                    "type": "string",
                    "minLength": 1
                  },
                  "jobKey": {
                    "type": "string",
                    "minLength": 1
                  },
                  "enabled": {
                    "type": "boolean"
                  },
                  "requireSignature": {
                    "type": "boolean"
                  },
                  "requestsPerMinute": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "secret": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "metadata": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "additionalProperties": {
                      "type": "string"
                    }
                  },
                  "signatureVersion": {
                    "type": "integer"
                  }
                },
                "required": [
                  "hookKey",
                  "jobKey"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook endpoint accepted"
          }
        }
      }
    },
    "/tenants/{tenantId}/webhooks/{hookKey}": {
      "delete": {
        "summary": "Delete a webhook endpoint",
        "tags": [
          "Tenant Webhooks"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "tenantId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "hookKey",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "environment",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook endpoint deleted"
          }
        }
      }
    },
    "/tenants/{tenantId}/webhooks/{hookKey}/rotate-secret": {
      "post": {
        "summary": "Rotate webhook signing secret",
        "tags": [
          "Tenant Webhooks"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "tenantId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "hookKey",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "environment",
            "in": "query"
          }
        ],
        "requestBody": {
          "description": "Rotation configuration",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "activateInSeconds": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "gracePeriodSeconds": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "notes": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Secret rotation scheduled"
          }
        }
      }
    },
    "/tenants/{tenantId}/webhooks/{hookKey}/ip-rules": {
      "get": {
        "summary": "List webhook IP rules",
        "tags": [
          "Tenant Webhooks"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "tenantId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "hookKey",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "environment",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "IP rules returned"
          }
        }
      },
      "post": {
        "summary": "Create a webhook IP rule",
        "tags": [
          "Tenant Webhooks"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "tenantId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "hookKey",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "environment",
            "in": "query"
          }
        ],
        "requestBody": {
          "description": "IP rule definition",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cidr": {
                    "type": "string",
                    "minLength": 1
                  },
                  "description": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                },
                "required": [
                  "cidr"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "IP rule accepted"
          }
        }
      }
    },
    "/tenants/{tenantId}/webhooks/{hookKey}/ip-rules/{ruleId}": {
      "delete": {
        "summary": "Delete a webhook IP rule",
        "tags": [
          "Tenant Webhooks"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "tenantId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "hookKey",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "ruleId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "environment",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "IP rule deleted"
          }
        }
      }
    },
    "/tenants/{tenantId}/webhooks/deadletters": {
      "get": {
        "summary": "List webhook dead letters",
        "tags": [
          "Tenant Webhooks"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "tenantId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "environment",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Dead letters returned"
          }
        }
      }
    },
    "/tenants/{tenantId}/webhooks/deadletters/{deadLetterId}/replay": {
      "post": {
        "summary": "Replay a webhook dead letter",
        "tags": [
          "Tenant Webhooks"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "tenantId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "deadLetterId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "environment",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Replay scheduled"
          }
        }
      }
    },
    "/webhooks/{hookKey}": {
      "post": {
        "summary": "Invoke a webhook endpoint manually",
        "tags": [
          "Webhook Events"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "hookKey",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Invocation accepted"
          }
        }
      }
    }
  },
  "webhooks": {}
}